main{
    width: 100%;
}

header h1{
    font-size: 7.5rem;
}
#header-foto{
    grid-area: t3;
    margin-right: 44vh;
}
header .nav li{
    margin-right: 10px;
}
.tarjeta-proyectos{  
    width: 25vw;
}
footer{
    width: 100%;
}