/* Se aplica responsive design (mobile-first) */

:root{
    --primary-backcolor: rgb(35, 45, 42);
    --secundary-backcolor:rgb(55, 66, 62);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
html{
    font-size: 62.5%;
    color: white;
    font-family: 'Inconsolata', monospace;    
}
body{   
    display: flex;
    flex-direction: column;
    background-color: var(--secundary-backcolor);
    width: 100%;  
}
header{
        width: 100%;
        height: 100vh; 
        background-blend-mode: hard-light;
        background: linear-gradient(207.8deg, aqua 0%, var(--primary-backcolor) 45%),url('../PICTURES/fondo.jpg');        
        background-repeat: no-repeat;
        background-size: cover;                
        font-size: 1.6rem;       
        display: flex;
        flex-wrap: wrap;
}
header div{
    width: 100%;
    height: 30%;
    text-align: center;
    margin-bottom: 2px;

    padding: auto;
}
header h1, header h2{ 
    width: 100%;    
    text-align: center;   
}
#header-foto{
    width: 181px;
    height: 200px;
    border-radius: 100px;
    margin-top: 5vh;   
}
nav{   
    right: 20px;
    text-align: center;      
    margin-top: 70vh;
    width: 130px;  
    margin-bottom: 2vh ;
    position: fixed;
}
nav li{
    display: inline-block;
    margin-right: 10px;
    border-radius: 5px;
    border-style: solid;
    border-color:rgba(30,75,73,1);  
    background-color:rgba(30,75,73,1);
    color: white;  
    font-size: 2rem;     
    margin-bottom: 2vw;
    text-decoration: none;
}
nav li:hover{
    color:black;
    background-color: aqua;
    border-color: aqua;
    cursor:pointer;
}

main{
    width: 100%;
    min-width: 150px;
    height: auto;
    background-color: rgb(55, 66, 62);  
    padding-top: 1vh;  
}
.section-main{   
    width: 100%;
    height: auto;
    align-items: center;    
}

.section-main:nth-child(even){
    background-color:whitesmoke;
    color: black;
    padding-top: 20px;
    padding-bottom: 45px;
}

.contenedor-proyectos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
}

.tarjeta-proyectos{   
    display: flex;
    flex-direction: column;
    height: auto;
    border-radius: 5px;
    margin: 2vw;      
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0,0,0.16); 
    width: 90vw;
    justify-items: center;
    padding-bottom: 2vh;
    font-size: 1.5rem;

}
.tarjeta-proyectos figure{  
    text-align: center;    
}
.tarjeta-proyectos img{
    width: 300px;    
    height: 500px;
    object-fit:contain; 
}

.tarjeta-proyectos p{
    grid-area: desc;
    justify-self: center;
    margin-bottom: 25px;
    padding-top: 10px;
    width:100%;
    text-align: center;
    border-top:1px solid aqua ;
    border-radius: 5px;

}
.enlace-repo{
    grid-area: repo;
}
.enlace-app{
    grid-area: app;
}

.tarjeta-proyectos a{    
    height: auto;
    background-color: #2D9596 ;
    text-decoration: none;
    color: white;
    border: none;
    margin-top: 2vh;
    padding:5px;
}
.tarjeta-proyectos a:hover{
    cursor: pointer;     
}
.subtitulos{
    margin-top: 10vh; 
    text-align: center;
    font-size: 2rem;
}

.Description_profile{
    display: flex;
    width: 100vw;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3vh 5vw 3vh 5vw;
    margin-top: 3vh;
    margin-bottom: 25vh;
}
.Description_profile p{
    font-size: 1.6rem;
    margin-top: 1vh;
    width: 70vw;
}
.Description_profile img{
    width: 100%;
    height: 100%;   
}
.tarjeta-proyectos:hover{
    box-shadow: 0 4px 8px aqua;
}
.contenedor-certificados ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
    
}
.contenedor-certificados .card{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 2rem;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin: 1vh;
    width: 251px;
    height: 60px;
    align-items: center;
    transform-style:preserve-3d ;
    position: relative;
}
.contenedor-certificados .card:hover{
    transform:rotateX(180deg) ;  
    transition: transform 1s;
}
.contenedor-certificados .card:not(:hover){    
    transition: transform 1s;
}
 .face{     
    position: absolute; 
    backface-visibility:hidden;  
    text-align: center;
}
.contenedor-certificados li{
    text-align: center;
    padding: 4px 10px;
    list-style: none;
}

.contenedor-certificados .face.back{
    font-size: 1rem;   
    transform:rotateX(180deg) ;
}

.redes-contacto{
    margin-top: 5vh;
    margin-bottom: 5vh;
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;  
    justify-content: center;
    align-items: center;
    
}
.redes-contacto div{
    text-align: center;
}
.redes-contacto figure{
    text-align: center;
    margin-top: 5vh;
}
.redes-contacto img{
    width: 30px;
    height: 30px;
}
.redes-left a{
     color:black;
}
.redes-right a{
    text-decoration:none;
    color:black;
}


footer{
    width: 100%;
    height: 10vh;
    background-color: rgb(35, 45, 42);
    text-align: center;
    font-size: 1.2rem;
}

/* PAGEVIDEO */

#contenedor-videos-demo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    width: 90vw;
    height:auto;
}  
.video-demo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vw;
    margin-top: 50px;
}      
video{
    width: 100%;
    height: 90%;
    margin-top: 10px;
}        