header h1{
    font-size: 4.5rem;
}
nav{
    width: 500px;
    margin-top: 90vh;
    height: 1vh;
}

header .nav li{
    margin-right: 10px;
}
.contenedor-proyectos{  
   flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: auto;   
    justify-content: center;
}
.Description_profile{   
    width: 100%;
    height: auto;   
    justify-content: center;
    align-items: center;   
    padding: 3vh 5vw 3vh 5vw;
    margin-top: 15vh;
    margin-bottom: 25vh;    
}
.tarjeta-proyectos{  
    width: 50vw;
}
.redes-contacto{
    flex-direction: row;
    justify-content: space-between;
    align-items: end
}
.redes-right{
    display: flex;    
}
.redes-right figure{
    margin-right: 5vw;
}
.redes-left p{
    margin-left: 5vw;
}


